.header{
  --background: #222; /* Cor de fundo do cabeçalho */
}

ion-content {
  --background: #222222d6; /* Cor de fundo do conteúdo */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.logo-container {
  margin-top: 50px; /* Espaço entre o topo e a logo */
}

.logo {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.app-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px; /* Espaçamento interno para os botões */
}

ion-button {
  --background: #3880ff; /* Cor de fundo dos botões */
  --border-radius: 8px;
  --color: white; /* Cor do texto nos botões */
  font-weight: bold;
}
