<ion-header class="header" >
  <ion-toolbar class="header" >
    <ion-title class="header-title">Bem-vindo(a)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="container">
    <div class="logo-container">
      <img class="logo" src="assets/logo.png" alt="logo">
    </div>
  </div>
  <div class="button-group">
    <ion-button (click)="goToLogin()" color="primary" expand="block">Logar</ion-button>
    <ion-button (click)="goToRegister()" color="primary" expand="block">Cadastrar</ion-button>
  </div>
</ion-content>
