.custom-header {
  --background: #222; /* Cor de fundo do cabeçalho */
}

.custom-content {
  --background: #f2f2f2; /* Cor de fundo do conteúdo */
}

.header {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(0.6); /* Escurece um pouco a imagem de fundo */
}

.header-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 1;
}

.integrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.info-card {
  background-color: #222;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  max-width: 600px;
}

.info-content {
  text-align: center;
}

.membros {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.membro-card {
  background-color: #222;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(45% - 20px);
  max-width: 300px;
  text-align: center;
}

.membro-photo img {
  width: 100%;
  border-radius: 50%;
  max-width: 120px;
  height: auto;
}

.membro-info h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
