<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button class="button_voltar" size="small" (click)="integrantes_voltar()" id="button-voltar">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Integrantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <div class="header">
    <div class="header-content">
      <ion-title size="large"></ion-title>
    </div>
  </div>
  
  <div class="integrantes">
    <div class="info-card">
      <div class="info-content">
        <h1><strong>Turma:</strong></h1>
        <p>ADS0302M / Manhã</p>
        <h1><strong>Curso:</strong></h1>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
    </div>

    <div class="membros">
      <div class="membro-card">
        <div class="membro-photo">
          <img src="../../../assets/rodrigoFerreira.jpg" alt="Rodrigo Ferreira">
        </div>
        <div class="membro-info">
          <h2>Rodrigo Ferreira</h2>
        </div>
      </div>

      <div class="membro-card">
        <div class="membro-info">
          <h2>Caio Ferreira</h2>
        </div>
        <div class="membro-photo">
          <img src="../../../assets/caioFerreira.jpg" alt="Caio Ferreira">
        </div>
      </div>
    </div>
  </div>
</ion-content>
